/* SweetAlert z-index fix agar tampil di atas semua elemen */
.swal2-container {
  z-index: 20000 !important;
}

/* ==== Hilangkan spinner di semua input number (universal fix) ==== */
input[type="number"],
.form-control[type="number"] {
  appearance: textfield !important;         /* properti standar */
  -webkit-appearance: textfield !important; /* Safari / Chrome / Edge */
  -moz-appearance: textfield !important;    /* Firefox */
}

/* Hilangkan tombol spinner bawaan */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button,
.form-control[type="number"]::-webkit-inner-spin-button,
.form-control[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  appearance: none !important; /* tambahkan untuk keseragaman */
  margin: 0 !important;
}


  .fc-list {
    font-size: 0.85rem;
  }
  .fc-list-day-cushion {
    background-color: #f8fafc;
    font-weight: 600;
    color: #1e293b;
  }
  .fc .fc-toolbar-title {
    font-weight: 600;
    color: #0f172a;
  }
  .fc-list-event:hover {
    background-color: #e0f2fe !important;
    cursor: pointer;
  }



